<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body class="container">
<div class="col-md-6 col-md-offset-3">
    <h1 class="mb-2">Hello <%= name %> !</h1>
    <hr>
    <button class="btn btn-danger mt-2" href="/logout" onClick='document.location.href="/logout"'>Logout</button>
    <h3><%= message %></h3>
    <hr>
    <form action="#" class="needs-validation form-inline mt-2 mb-2" method="post" novalidate>
        <div class="form-group">
            <label for="form_metric" class="mr-4">Add a metric: </label>
            <input id="form_metric" class="form-control mr-4" type="number" name="value"
                   placeholder="Enter metric value" required/>
        </div>
        <button class="btn btn-success" id="save-metric" type="submit" value="Submit">Save</button>
    </form>
    <hr>
    <form action="#" class="needs-validation form-inline  mt-2 mb-2" method="post" novalidate>
        <div class="form-group">
            <label for="modify_metric" class="mr-4">Modify a metric : </label>
            <input id="modify_metric" class="form-control mr-4" type="text" name="metricID"
                   placeholder="Enter metric ID" required/>
            <input id="modify_form_metric" class="form-control mr-4" type="number" name="new_value"
                   placeholder="Enter its new value" required/>
        </div>
        <button class="btn btn-success mt-2" id="change-metric" type="submit" value="Submit">Change metric</button>
    </form>
    <hr>
    <form action="#" class="needs-validation form-inline  mt-2 mb-2" method="post" novalidate>
        <div class="form-group">
            <label for="erase_metric" class="mr-4">Delete a metric : </label>
            <input id="erase_metric" class="form-control mr-4" type="text" name="metricID"
                   placeholder="Enter metric ID" required/>
        </div>
        <button class="btn btn-danger mt-2" id="delete-metric" type="submit" value="Submit">Delete metric</button>
    </form>
    <hr>
    <button class="btn btn-primary" id="show-metrics"> Show the metrics</button>
    <div id="metrics" class="mt-5 mb-5"></div>
</div>
</body>
<script type="text/javascript">
    $('#show-metrics').click((e) => {
        e.preventDefault();
        $.getJSON("/users/<%= name %>/metrics", {}, (data) => {
            const content = data.map(d => {
                return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '<br/>';
            })
            $('#metrics').html(content);
        });
    })
    $('#save-metric').click((e) => {
        e.preventDefault();
        const value = $('#form_metric').val();

        if (value) {
            const metrics = [{
                timestamp: (new Date().getTime()).toString(),
                value: parseFloat(value)
            }];
            $.ajax("/users/<%= name %>/metrics", {
                data: JSON.stringify(metrics),
                method: "POST",
                contentType: "application/json",
                statusCode: {
                    200: function (responseObject, textStatus, jqXHR) {
                        let forms = document.getElementsByClassName('needs-validation');
                        Array.prototype.filter.call(forms, function (form) {
                            form.classList.remove("was-validated");
                        }, false);
                        alert("Metric saved successfully.");
                    }
                }
            });
            $('#form_metric').val("");
        }
    })

    $('#change-metric').click((e) => {
        e.preventDefault();
        const valueID = $('#modify_metric').val();
        const value = $('#modify_form_metric').val();
        if (value) {
            if (valueID) {
                const metric = {
                    timestamp: valueID,
                    value: parseFloat(value)
                };
                $.ajax("/users/<%= name %>/metrics/" + valueID, {
                    data: JSON.stringify(metric),
                    method: "PUT",
                    contentType: "application/json",
                    statusCode: {
                        200: function (responseObject, textStatus, jqXHR) {
                            let forms = document.getElementsByClassName('needs-validation');
                            Array.prototype.filter.call(forms, function (form) {
                                form.classList.remove("was-validated");
                            }, false);
                            alert("Metric updated successfully.");
                        },
                        409: function (responseObject, textStatus, jqXHR) {
                            alert("Metric does not exist.");
                        }
                    }
                });
                $('#modify_metric').val("");
                $('#modify_form_metric').val("");
            }
        }
    })
    $('#delete-metric').click((e) => {
        e.preventDefault();
        const valueID = $('#erase_metric').val();

        if (valueID) {
            $.ajax("/users/<%= name %>/metrics/" + valueID, {
                method: "DELETE",
                contentType: "application/json",
                statusCode: {
                    200: function (responseObject, textStatus, jqXHR) {
                        let forms = document.getElementsByClassName('needs-validation');
                        Array.prototype.filter.call(forms, function (form) {
                            form.classList.remove("was-validated");
                        }, false);
                        alert("Metric deleted successfully.");
                    }
                }
            });
            $('#erase_metric').val("");
        }

    })
</script>
</html>